:root {
    --grid: 1;
}
#grid-container {
    display: inline-grid;
    background-color: rgb(219, 174, 174);
    grid-template-rows: repeat(var(--grid), 1fr);
    grid-template-columns: repeat(var(--grid), 1fr);
}

.grid-item {
    padding: 1em;
    border: 1px solid rgb(17, 15, 15);
    text-align: center;
}