:root {
    --grid: 1;
}
body {
  text-align: center;
}

.title {
  font-size: 3rem;
}

#wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

#grid-container {
    display: inline-grid;
    background-color: rgb(252, 252, 252);
    grid-template-rows: repeat(var(--grid), auto);
    grid-template-columns: repeat(var(--grid), auto);
    height: 80vh;
    width: 80vh;
    margin-top: 10vh;
}

.grid-item {
    border: 1px solid rgb(17, 15, 15);
    background-color: rgb(255, 255, 255);
}

.grid-item:hover {
    filter: brightness(85%);
}

input,
output {
  display: inline-block;
  vertical-align: middle;
  font-size: 1rem;
  font-family: Arial, sans-serif;
}

output {
  background: #ff4500;
  padding: 5px 16px;
  border-radius: 3px;
  color: #fff;
}

input[type="number"] {
  width: 3rem;
  padding: 4px 5px;
  border: 1px solid #bbb;
  border-radius: 3px;
}

input[type="range"] {
  -webkit-appearance: none;
  margin-right: 15px;
  width: 15rem;
  height: 7px;
  background: rgba(167, 164, 164, 0.6);
  border-radius: 5px;
  background-image: linear-gradient(#ff4500, #ff4500);
  background-size: 16% 100%;
  background-repeat: no-repeat;
}

/* Input Thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #ff4500;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background .3s ease-in-out;
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #ff4500;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background .3s ease-in-out;
}

input[type="range"]::-ms-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #ff4500;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background .3s ease-in-out;
}

input[type="range"]::-webkit-slider-thumb:hover {
  background: #ff0200;
}

input[type="range"]::-moz-range-thumb:hover {
  background: #ff0200;
}

input[type="range"]::-ms-thumb:hover {
  background: #ff0200;
}

/* Input Track */
input[type=range]::-webkit-slider-runnable-track  {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

input[type=range]::-moz-range-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

input[type="range"]::-ms-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}